@page
@model PrivacyModel
@{
    ViewData["Title"] = "Familia Felinelor";
}

<br/>

<p class="font-size-25">
    Bine ați venit la Familia Felinelor!
</p>

<p class="font-size-20"> Despre noi:</p>
<p class="font-size-20">
    La adăpostul nostru, fiecare zi este dedicată îngrijirii și iubirii pentru feline. Suntem bucuroși să vă prezentăm un spațiu în care fiecare pisică primește atenția și grija pe care o merită.
</p>

<p class="font-size-20"> Facilitățile noastre: </p>
<p class="font-size-20">
    Spații de relaxare, zone de joacă, servicii de îngrijire și înfrumusețare și nutriție.
</p>

<p class="font-size-20"> Contactați-ne:</p>
<p class="font-size-20">
    Pentru mai multe informații, vă rugăm să ne contactați la  adresa de e-mail adapost.familiafelinelor@yahoo.com. Suntem aici pentru a răspunde la orice întrebări!
</p>

<p class="font-size-20">
    Consultați secțiunile aferente serviciilor pe care le oferim și faceți o programare pentru a vă răsfăța pisica!
</p>
<p class="font-size-20">
    Dacă ați fost mulțumit de serviciile noastre, nu uitați să ne lăsați o recenzie!
</p>


<img src="/images/FamiliaFelinelor.jpg" />
